.container{
  display:flex;             /* flexible Box를 사용해서 가로로 배치 */
  flex-wrap: wrap;          /* 여러 줄로 표시할지 여부 */
  justify-content: center;  /* 주축(=가로) 정렬 방법 */
}

.times{
  padding: 0 30px 40px 30px;  /* 시계 방향 - 위, 오른쪽, 아래, 왼쪽 여백 */
  margin: 15px;
  border: 1px solid #ccc;
  line-height: 2;             /* 줄 간격을 기본 글자 크기의 2배로 설정 */
}

.times h3{
  text-align: center;
  font-weight: bold;
}